
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
	string Fullname = HttpContextAccessor.HttpContext.Session.GetString("Fullname");
	string Username = HttpContextAccessor.HttpContext.Session.GetString("Username");
	string IdUser = HttpContextAccessor.HttpContext.Session.GetString("IdUser");
	string Cartcount = HttpContextAccessor.HttpContext.Session.GetString("Cartcount");
	string cartDisplay = string.IsNullOrEmpty(Fullname) ? "[ 0 ] in your cart" : $"[ {Cartcount} ] in your cart";
}
﻿@using Kitchen_Appliances_MVC.ViewModels.Category
@model Kitchen_Appliances_MVC.ViewModelData.Header.HeaderViewModel

<div id="header">
	<div class="container">
		<div id="welcomeLine" class="row">
			<div class="span6">Welcome!<strong> @Fullname</strong></div>
			<div class="span6">
				<div class="pull-right">
					<a href="product_summary.html"><span class="">Fr</span></a>
					<a href="product_summary.html"><span class="">Es</span></a>
					<span class="btn btn-mini">En</span>
					<a href="product_summary.html"><span>&pound;</span></a>
					<span class="btn btn-mini">$0.00</span>
					<a href="product_summary.html"><span class="">$</span></a>
					<a id="cartLink" data-iduser="@IdUser" href="@Url.Action("Index", "Cart", new { id = IdUser })"><span class="btn btn-mini btn-primary" id="Cart_count"><i class="icon-shopping-cart icon-white"></i> @cartDisplay </span> </a>
				</div>
			</div>
		</div>
		<!-- Navbar ================================================== -->
		<div id="logoArea" class="navbar">
			<a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<div class="navbar-inner">
				<a class="brand" href="~/Home/Index"><img src="~/themes/images/logo.png" alt="KitchenShop" /></a>
				<form class="form-inline navbar-search" method="post" action="~/Product/Index">
					<input id="srchFld" class="srchTxt" type="text" name="input"/>
					<select class="srchTxt" name="option">
						<option>All</option>
						@foreach(CategoryDTO item in Model.Categories)
						{
							<option>@item.Name</option>
						}
					</select>
					<button type="submit" id="submitButton" class="btn btn-primary">Go</button>
				</form>
				<ul id="topMenu" class="nav pull-right">
					<li class=""><a href="special_offer.html">Specials Offer</a></li>
					<li class=""><a href="normal.html">Delivery</a></li>

					<li class=""><a href="~/Home/Contact">Contact</a></li>
					@if (@Username != null)
					{
						<li class=""><a href="@Url.Action("Logout", "Account")" role="button" data-toggle="modal" style="padding-right:0"><span class="btn btn-large btn-danger">Logout</span></a></li>
					}
					else
					{
						<li class=""><a href="@Url.Action("Login", "Account")" role="button" data-toggle="modal" style="padding-right:0"><span class="btn btn-large btn-success">Login</span></a></li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Header End====================================================================== -->
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var cartLink = document.getElementById("cartLink");
		var idUser = cartLink.getAttribute("data-iduser");

		cartLink.addEventListener("click", function (event) {
			if (!idUser) {
				event.preventDefault(); // Ngăn chặn điều hướng nếu IdUser là null hoặc rỗng
				Swal.fire({
					icon: "error",
					title: "Oops...",
					text: "Bạn cần đăng nhập để truy cập vào giỏ hàng",
					footer: '<a href="/Account/Login">Đăng nhập ngay</a>'
				});
			} else {
				// Nếu idUser không null thì điều hướng đến href của thẻ <a>
				window.location.href = this.href;
			}
		});
	});
</script>