@using Microsoft.AspNetCore.Http;
@using Kitchen_Appliances_MVC.ViewModelData.Admin;
@inject IHttpContextAccessor HttpContextAccessor
@{
	string Fullname = HttpContextAccessor.HttpContext.Session.GetString("Fullname");
}

@* Trang Admin *@

@section Header {
	@Html.Partial("SideBar")
}

@model ManageCategoryViewModel


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<meta name="author" content="" />
	<title>Trang Admin</title>
	<style>
		th, td {
			padding: 5px 20px;
		}
		td {
			text-align: center;
		}
	</style>>
</head>
<div id="mainBody">
	<div class="container">
		<div class="row">
			<div id="sidebar" class="span3" style="background-color: #474242;">
				<ul id="sideManu" class="nav nav-tabs nav-stacked">

					<li>
						<a asp-controller="Admin" asp-action="ManageProduct"> Quản lý Sản Phẩm </a>
					</li>

					<li>
						<a asp-controller="Admin" asp-action="ManageCategory"> Quản lý Category </a>
					</li>
					<li>
						<a asp-controller="Admin" asp-action="ManageCustomer"> Quản lý Customer </a>
					</li>
					<li>
						<a asp-controller="Admin" asp-action="ManageOrder"> Quản lý Order</a>
					</li>
					<li>
						<a asp-controller="Admin" asp-action="ManageImage"> Quản lý Ảnh Sản Phẩm</a>
					</li>
				</ul>
				<br />

			</div>
			<div class="span9">
				<div>
					<a asp-action="AddCategory" asp-controller="Admin" class="btn btn-primary">Thêm Loại Sản Phẩm</a>
				</div>
				<div class="well well-small">
					<div class="row-fluid">
						<div id="featured" class="carousel slide">
							<div class="carousel-inner">
								<div class="item active">
									<ul class="thumbnails">
									</ul>
								</div>
							</div>
						</div>
						<div class="card-header">
						
							Danh sách sản phẩm
						</div>
						<div class="card-body"> 
							<table id="datatablesSimple">
								<thead>
									<tr>
										<th>Mã sản phẩm</th>
										<th>Name</th>
										<@* th>Sửa</th>
										<th>Xóa</th> *@
									</tr>
								</thead>

								<tbody>
									@for (int i = 0; i < Model.Categories.Count; i++)
									{
									<tr>
										<td>@Model.Categories[i].Id</td>
										<td>@Model.Categories[i].Name</td>
										<td><a asp-controller="Admin" asp-action="EditCategory" asp-route-id="@Model.Categories[i].Id">Sửa</a></td>
										<td><a asp-controller="Admin" asp-action="DeleteCategory" asp-route-id="@Model.Categories[i].Id">Xóa</a></td>
									</tr>
									}
								</tbody>
							</table>
						</div> 
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
